[Unit]
Description=Madek ZHdK Sync Service
After=syslog.target
After=network.target

BindsTo=madek-api.service

[Service]
Type=oneshot
RemainAfterExit=false
WorkingDirectory={{madek_zhdk_ldap_sync_root_dir}}
User={{madek_zhdk_ldap_sync_user}}
EnvironmentFile=/etc/madek/zhdk-ldap-sync.config
ExecStart=/usr/bin/java "-Xmx1014m" "-jar" "{{uberjar_path}}" "run"

[Install]
WantedBy=multi-user.target
