- name: setup service file
  template:
    src: madek-zhdk-ldap-sync.service
    dest: /etc/systemd/system/{{madek_zhdk_ldap_sync_name}}.service
    mode: 0640

- command: systemctl daemon-reload
  changed_when: false
  name: reload systemctl

- name: enable the service
  service:
    name: '{{madek_zhdk_ldap_sync_name}}.service'
    enabled: yes


# timer

- name: install the sync timer
  template:
    src: madek-zhdk-ldap-sync.timer
    dest: /etc/systemd/system/{{madek_zhdk_ldap_sync_name}}.timer
    mode: 0644

- name: reload systemctl
  command: systemctl daemon-reload
  changed_when: false

- name: enable the sync timer
  service:
    name: '{{madek_zhdk_ldap_sync_name}}.timer'
    enabled: yes
    state: started

# start service optinally

- name: start madek-zhdk-ldap-sync service
  when: run_service_on_deploy
  service:
    name: '{{madek_zhdk_ldap_sync_name}}.service'
    state: started
    enabled: yes
  when: run_service_on_deploy

