# remove also old files 

- name: remove timer
  file:
    path: '{{item}}' 
    state: absent
  with_items:
    - /etc/systemd/system/zhdk-sync.timer
    - /etc/systemd/system/{{madek_zhdk_ldap_sync_name}}.timer
  
- name: remove service 
  file:
    path: '{{item}}'
    state: absent
  with_items:
    - /etc/systemd/system/zhdk-sync.service
    - /etc/systemd/system/{{madek_zhdk_ldap_sync_name}}.service

- command: systemctl daemon-reload
  changed_when: false
  name: reload systemctl

- name: remove deploy target dir(s)
  file:
    path: '{{item}}'
    state: absent
  with_items:
    - /madek-zhdk-sync
    - '{{madek_zhdk_sync_root_dir}}'

- name: remove madek-sync user
  user:
    name: '{{item}}'
    state: absent
    force: yes
  with_items:
    - madek-zhdk-sync
    - '{{madek_zhdk_sync_user}}'


- name: remove madek-sync group
  group:
    name: madek-zhdk-sync
    state: absent
  with_items:
    - madek-zhdk-sync
    - '{{madek_zhdk_sync_group}}'

